* {
  font-family: "Courier New", Courier, monospace;
}
@media screen and (min-width: 768px) {
  .container {
    font-size: 10px;
    padding: 30px;
  }
}

@media screen and (min-width: 900px) {
  body {
    font-size: 18px;
  }
  .container {
    font-size: 18px;
    padding: 40px;
  }
}

  @media screen and (min-width: 1200px) {
    .container {
      font-size: 32px;
      padding: 40px;
    }
  }

a { color:white} /* Globally */

/* Each state */

a:visited { text-decoration: none; color:rgb(255, 255, 255); }
a:hover { text-decoration: none; color:rgb(255, 255, 255); }
a:focus { text-decoration: none; color:rgb(255, 255, 255); }
a:hover, a:active { text-decoration: none; color:rgb(255, 255, 255) }



body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

header {
  background: rgb(88, 248, 242);
  background: linear-gradient(
    90deg,
    rgba(88, 248, 242, 1) 16%,
    rgba(82, 174, 186, 0.6600841020001751) 67%,
    rgba(135, 177, 237, 1) 100%
  );
  padding: 1em;
  text-align: center;
}

main {
  padding: 1em;
}

section {
  margin-bottom: 1em;
}

footer {
  background: rgb(88, 248, 242);
  background: linear-gradient(
    90deg,
    rgba(88, 248, 242, 1) 16%,
    rgba(82, 174, 186, 0.6600841020001751) 67%,
    rgba(135, 177, 237, 1) 100%
  );
  text-align: center;
  padding: 1em;

}

footer button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(65, 166, 225);
    text-align: center;
    cursor: pointer;
    width: 20%;
    font-size: 18px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.kaas {
  display: flex;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px;
  box-sizing: border-box;
}


.ik {

    color: rgb(255, 0, 0);
    padding: 1em;
    text-align: center;

    
}

.ik button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 15%;
  font-size: 18px;
}